body{
    background-color: aqua;
}


.wrapper{
    background-color: white;
    min-width: 60%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:grey; /* Primary color */
    border: none;
    border-radius: 50px; /* Makes the button a pill shape */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin: 1rem;
    
}

.back-button:hover {
    background-color: rgb(84, 79, 79)  ; /* Even darker shade when active */

    transform: translateY(2px); /* Slightly move the button down */
}


.back-button:focus {
    outline: none;
}

.back-button:active {
    background-color: rgb(84, 79, 79)  ; /* Even darker shade when active */

    transform: translateY(2px); /* Slightly move the button down */
}

header h1{
    text-align: center;
    background-color: blue;
    background-image: url(../Images/sunset.jpeg);
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 0.5em;
}

.homehero{
    background-image: url(../Images/hero.jpg);
    background-size: cover;
    height:300px;
    background-position: 0% 90%;
}
nav{
    text-align: center;
    transition: 0.3s;
    color: white;
}

nav a {
    text-decoration: none;
    padding: 0.5em;
    
   
    
}
nav a:hover{
    
color: white;
    
    display: inline-block;
    background-color: blue;   
}
footer{
    padding: 0.1em 2em 0.5em 2em;
    text-align: center;
}

main{
    padding: 0.1em 2em 0.5em 2em;
}